body{
  background-image:url("sunnyday.jpg"); 
  background-size: 100%;
  color:#000

}
.header {
  background-color: gray;
  text-align: center;
  color: white;
  border: inset black 5px;
}
.col-md-2 > div {url("paper.gif");
  background-color: blue;
}
